## Superstore Challenge

The superstore dataset is a collection of ~10,000 anonymized transactions from an e-commerce store that occurred between the years 2014 and 2017.  

Your task here is to make a 'meta' dataset that aggregates information about what individual customers have done over their lifetime of interactions with the store.  

When you're done you'll have a list of each unique customer in the store (going by their name), with information like their lifetime customer value, number of orders, and their ordering behavior measured over different lags of time.  

This will be a helpful exercise to re-inforce some of the concepts discussed from class 6, like grouping and date offsets.

In [208]:
import pandas as pd
import numpy as np

initial=pd.read_excel("/Users/bianca/Documents/GitHub/DAT-10-14/class material/Unit2/data/superstore.xls")

**Column 1:** Create a column that lists every customers lifetime customer value.

In [212]:
# create ltv series with customer id as the index label 
store = initial.groupby(['Customer Name','Customer ID'])['Sales'].sum().to_frame().rename({'Sales':'Lifetime Value'}, axis=1)

**Column 2:** Create a column that lists the length of time each customer has been with the store.  This is defined as the number of days between when they made their first purchase and today.

In [213]:
first_purchase = initial.groupby('Customer Name')['Order Date'].min().to_frame().rename({'Order Date':'First Order Date'},axis=1)

today = np.datetime64('now')

store = store.merge(first_purchase, on='Customer Name', how='left')

In [215]:
store['Lifetime'] = today - store['First Order Date']

**Column 3:** Create a column that lists the total number of purchases for each customer.

In [217]:
total_purchases = initial.groupby('Customer Name')['Order ID'].count().to_frame().rename({'Order ID': 'Total Purchases'}, axis=1)

store = store.merge(total_purchases, on='Customer Name', how='left')

In [218]:
store

,Lifetime Value,First Order Date,Lifetime,Total Purchases
Customer Name,,,,
Aaron Bergman,886.156,2014-02-18,2085 days 22:35:35,6
Aaron Hawkins,1744.700,2014-04-22,2022 days 22:35:35,11
Aaron Smayling,3050.692,2014-07-27,1926 days 22:35:35,10
Adam Bellavance,7755.620,2015-09-18,1508 days 22:35:35,18
Adam Hart,3250.337,2014-11-16,1814 days 22:35:35,20
Adam Shillingsburg,3255.310,2014-09-22,1869 days 22:35:35,25
Adrian Barton,14473.571,2014-12-20,1780 days 22:35:35,20
Adrian Hane,1735.514,2014-07-18,1935 days 22:35:35,16
Adrian Shami,58.820,2016-11-13,1086 days 22:35:35,3
Aimee Bixby,966.710,2014-03-05,2070 days 22:35:35,12
Alan Barnes,1113.838,2014-11-16,1814 days 22:35:35,14
Alan Dominguez,6106.880,2014-11-19,1811 days 22:35:35,12
Alan Haines,1587.452,2015-03-05,1705 days 22:35:35,8
Alan Hwang,4805.344,2014-11-29,1801 days 22:35:35,13
Alan Schoenberger,4260.784,2014-10-18,1843 days 22:35:35,13
Alan Shonely,584.608,2014-03-15,2060 days 22:35:35,13
Alejandro Ballentine,914.532,2014-07-22,1931 days 22:35:35,14
Alejandro Grove,2582.898,2014-05-13,2001 days 22:35:35,14
Alejandro Savely,3214.236,2016-05-21,1262 days 22:35:35,8
Aleksandra Gannaway,367.548,2014-04-26,2018 days 22:35:35,5
Alex Avila,5563.560,2014-03-31,2044 days 22:35:35,11
Alex Grayson,660.972,2016-08-03,1188 days 22:35:35,9
Alex Russell,1055.694,2014-12-30,1770 days 22:35:35,5
Alice McCarthy,814.012,2014-10-06,1855 days 22:35:35,12
Allen Armold,1056.390,2014-04-21,2023 days 22:35:35,15
Allen Goldenen,200.945,2014-04-19,2025 days 22:35:35,8
Allen Rosenblatt,2236.128,2014-10-03,1858 days 22:35:35,7
Alyssa Crouse,925.800,2014-07-12,1941 days 22:35:35,5
Alyssa Tate,1171.814,2014-11-24,1806 days 22:35:35,9
Amy Cox,5527.846,2014-10-31,1830 days 22:35:35,9
...,...,...,...,...
Tony Molinari,1094.678,2017-03-30,949 days 22:35:35,4
Tony Sayre,2243.274,2014-12-20,1780 days 22:35:35,14
Tracy Blumstein,4737.486,2014-10-17,1844 days 22:35:35,20
Tracy Collins,742.558,2014-11-03,1827 days 22:35:35,10
Tracy Hopkins,4234.096,2014-04-05,2039 days 22:35:35,13
Tracy Poddar,1936.640,2015-03-01,1709 days 22:35:35,10
Tracy Zic,1707.286,2014-11-11,1819 days 22:35:35,9
Troy Blackwell,1387.559,2014-02-18,2085 days 22:35:35,7
Troy Staebel,2820.424,2014-08-16,1906 days 22:35:35,11
Trudy Brown,2797.668,2014-08-06,1916 days 22:35:35,15
Trudy Glocke,2074.661,2014-03-31,2044 days 22:35:35,10
Trudy Schmidt,3368.094,2015-02-06,1732 days 22:35:35,14
Valerie Dominguez,6442.254,2014-08-04,1918 days 22:35:35,16
Valerie Mitchum,2454.866,2014-04-07,2037 days 22:35:35,12
Valerie Takahito,1736.596,2014-06-06,1977 days 22:35:35,9
Vicky Freymann,847.944,2014-03-01,2074 days 22:35:35,11
Victor Preis,993.902,2015-07-05,1583 days 22:35:35,5
Victoria Brennan,2005.596,2015-07-17,1571 days 22:35:35,10
Victoria Pisteka,3360.526,2014-09-06,1885 days 22:35:35,14
Victoria Wilson,6134.038,2014-05-11,2003 days 22:35:35,18
Vivek Gonzalez,846.010,2014-08-08,1914 days 22:35:35,8
Vivek Grady,427.372,2014-09-22,1869 days 22:35:35,6
Vivek Sundaresam,1055.981,2014-01-07,2127 days 22:35:35,8
Vivian Mathis,380.690,2014-03-22,2053 days 22:35:35,8
William Brown,6160.102,2014-11-04,1826 days 22:35:35,37
Xylona Preis,2374.658,2014-01-20,2114 days 22:35:35,28
Yana Sorensen,6720.444,2015-01-12,1757 days 22:35:35,12
Yoseph Carroll,5454.350,2014-11-17,1813 days 22:35:35,8
Zuschuss Carroll,8025.707,2014-10-13,1848 days 22:35:35,31
Zuschuss Donatelli,1493.944,2014-08-27,1895 days 22:35:35,9

**Column 4:** Create a column that assigns customers to a cohort.  

A customers cohort is determined by when they made their first purchase, and every year in your dataset has two cohorts:  the first half of the year and the second half.  

For example, if someone made their first purchase in March of 2017, their cohort would be 2017-1, or something similar.  Someone who purchased in September of 2017 would be 2017-2, and so on.

In [219]:
store['Purchase Cohort'] = store['First Order Date'].map(lambda x: 100*x.year + x.month)

**Column 5:** Create a column that lists whether or not they're a repeat customer.  This means they've made more than one order.

In [220]:
store

,Lifetime Value,First Order Date,Lifetime,Total Purchases,Purchase Cohort
Customer Name,,,,,
Aaron Bergman,886.156,2014-02-18,2085 days 22:35:35,6,201402
Aaron Hawkins,1744.700,2014-04-22,2022 days 22:35:35,11,201404
Aaron Smayling,3050.692,2014-07-27,1926 days 22:35:35,10,201407
Adam Bellavance,7755.620,2015-09-18,1508 days 22:35:35,18,201509
Adam Hart,3250.337,2014-11-16,1814 days 22:35:35,20,201411
Adam Shillingsburg,3255.310,2014-09-22,1869 days 22:35:35,25,201409
Adrian Barton,14473.571,2014-12-20,1780 days 22:35:35,20,201412
Adrian Hane,1735.514,2014-07-18,1935 days 22:35:35,16,201407
Adrian Shami,58.820,2016-11-13,1086 days 22:35:35,3,201611
Aimee Bixby,966.710,2014-03-05,2070 days 22:35:35,12,201403
Alan Barnes,1113.838,2014-11-16,1814 days 22:35:35,14,201411
Alan Dominguez,6106.880,2014-11-19,1811 days 22:35:35,12,201411
Alan Haines,1587.452,2015-03-05,1705 days 22:35:35,8,201503
Alan Hwang,4805.344,2014-11-29,1801 days 22:35:35,13,201411
Alan Schoenberger,4260.784,2014-10-18,1843 days 22:35:35,13,201410
Alan Shonely,584.608,2014-03-15,2060 days 22:35:35,13,201403
Alejandro Ballentine,914.532,2014-07-22,1931 days 22:35:35,14,201407
Alejandro Grove,2582.898,2014-05-13,2001 days 22:35:35,14,201405
Alejandro Savely,3214.236,2016-05-21,1262 days 22:35:35,8,201605
Aleksandra Gannaway,367.548,2014-04-26,2018 days 22:35:35,5,201404
Alex Avila,5563.560,2014-03-31,2044 days 22:35:35,11,201403
Alex Grayson,660.972,2016-08-03,1188 days 22:35:35,9,201608
Alex Russell,1055.694,2014-12-30,1770 days 22:35:35,5,201412
Alice McCarthy,814.012,2014-10-06,1855 days 22:35:35,12,201410
Allen Armold,1056.390,2014-04-21,2023 days 22:35:35,15,201404
Allen Goldenen,200.945,2014-04-19,2025 days 22:35:35,8,201404
Allen Rosenblatt,2236.128,2014-10-03,1858 days 22:35:35,7,201410
Alyssa Crouse,925.800,2014-07-12,1941 days 22:35:35,5,201407
Alyssa Tate,1171.814,2014-11-24,1806 days 22:35:35,9,201411
Amy Cox,5527.846,2014-10-31,1830 days 22:35:35,9,201410
...,...,...,...,...,...
Tony Molinari,1094.678,2017-03-30,949 days 22:35:35,4,201703
Tony Sayre,2243.274,2014-12-20,1780 days 22:35:35,14,201412
Tracy Blumstein,4737.486,2014-10-17,1844 days 22:35:35,20,201410
Tracy Collins,742.558,2014-11-03,1827 days 22:35:35,10,201411
Tracy Hopkins,4234.096,2014-04-05,2039 days 22:35:35,13,201404
Tracy Poddar,1936.640,2015-03-01,1709 days 22:35:35,10,201503
Tracy Zic,1707.286,2014-11-11,1819 days 22:35:35,9,201411
Troy Blackwell,1387.559,2014-02-18,2085 days 22:35:35,7,201402
Troy Staebel,2820.424,2014-08-16,1906 days 22:35:35,11,201408
Trudy Brown,2797.668,2014-08-06,1916 days 22:35:35,15,201408
Trudy Glocke,2074.661,2014-03-31,2044 days 22:35:35,10,201403
Trudy Schmidt,3368.094,2015-02-06,1732 days 22:35:35,14,201502
Valerie Dominguez,6442.254,2014-08-04,1918 days 22:35:35,16,201408
Valerie Mitchum,2454.866,2014-04-07,2037 days 22:35:35,12,201404
Valerie Takahito,1736.596,2014-06-06,1977 days 22:35:35,9,201406
Vicky Freymann,847.944,2014-03-01,2074 days 22:35:35,11,201403
Victor Preis,993.902,2015-07-05,1583 days 22:35:35,5,201507
Victoria Brennan,2005.596,2015-07-17,1571 days 22:35:35,10,201507
Victoria Pisteka,3360.526,2014-09-06,1885 days 22:35:35,14,201409
Victoria Wilson,6134.038,2014-05-11,2003 days 22:35:35,18,201405
Vivek Gonzalez,846.010,2014-08-08,1914 days 22:35:35,8,201408
Vivek Grady,427.372,2014-09-22,1869 days 22:35:35,6,201409
Vivek Sundaresam,1055.981,2014-01-07,2127 days 22:35:35,8,201401
Vivian Mathis,380.690,2014-03-22,2053 days 22:35:35,8,201403
William Brown,6160.102,2014-11-04,1826 days 22:35:35,37,201411
Xylona Preis,2374.658,2014-01-20,2114 days 22:35:35,28,201401
Yana Sorensen,6720.444,2015-01-12,1757 days 22:35:35,12,201501
Yoseph Carroll,5454.350,2014-11-17,1813 days 22:35:35,8,201411
Zuschuss Carroll,8025.707,2014-10-13,1848 days 22:35:35,31,201410
Zuschuss Donatelli,1493.944,2014-08-27,1895 days 22:35:35,9,201408

In [222]:
store['Repeat Customer'] = np.where(store['Total Purchases']>1, True, False)

**Column 6:** We want to find out what type of customer each person is.  To do this, we want to find which value of 'Segment' occurred most frequently for every single customer.  Ie, the modal value of the 'Segment' column for each customer.

In [224]:
segment_type = initial.groupby('Customer Name')['Segment'].agg(pd.Series.mode).to_frame()

store = store.merge(segment_type, on ='Customer Name')

**Column 7:** Create a column that is the date *3 months after they made their first purchase*.

In [232]:
three_mo_offset = pd.DateOffset(months=3)

#what I originally had
store['Three Months Later'] = store['First Order Date']+three_mo_offset

initial['Three Months Later']= initial['Order Date'].min()+three_mo_offset

**Column 8:** Make a column that represents one year after they made their first purchase.  Add this to your initial dataframe as well.

In [228]:
one_year_offset = pd.DateOffset(months=12)

store['One Year Later'] = store['First Order Date']+one_year_offset

**Column 9:** Make a column that determines whether or not a customer made a second purchase within 90 days of their first purchase.

In [229]:
store['Second Purchase Quick'] = store['Order Date'].between(store['First Order Date'], store['Three Months Later'],inclusive=False)

KeyError: 'Order Date'

**Column 10:** Make a column that counts how many items each customer made with in their first year of purchase.

In [178]:
store['First Year Orders']=store['Order Date'].between(store['First Order Date'], store['One Year Later'])

In [179]:
first_year_orders = (store.groupby(['Customer Name', 'Order ID'])['First Year Orders'].sum()>0).sum(level='Customer Name').to_frame().rename({'First Year Orders':'Num Purchases First Year'},axis=1)

store = store.merge(first_year_orders, on='Customer Name, how='left')

**Column 11:** Make a column that sums up the total value of sales for each customer one year after they made their purchase.

In [184]:
first_year_sales=store[store['Num Purchases First Year'] == True].groupby('Customer Name')['Sales'].sum().toframe().rename({'Sales':'First Year Sales'})

AttributeError: 'Series' object has no attribute 'toframe'

**Hint:** For some of these columns, you'll need to break them down into a few steps.  It's okay to make  helper columns on your original dataset that make it easier for you to calculate the final result.

### Questions:

Now that you've made these columns, try and answer the following questions.

**What percentage of customers make a second purchase within 3 months after their first one?  How does this differ by customer segment?**

In [205]:
store.groupby('Segment')['Second Purchase Quick'].mean()

Segment
Consumer       0.045463
Corporate      0.039073
Home Office    0.036455
Name: Second Purchase Quick, dtype: float64

**How Has the 3-Month Repurchasing Rate Been Changing Across Cohorts?**

**What impact does a second order within 3 months of 1st purchase have on lifetime customer value?  Does this effect hold true for each customer segment?**

**What's the average expected sales value for a customer one year after their first purchase? How has this changed across cohorts?**

**How much does lifetime customer value differ across the different customer segments?**