<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab: Cleaning Rock Song Data

_Authors: Dave Yerrington (SF)_

---

In [99]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [100]:
rockfile =("/Users/bianca/Documents/GitHub/DAT-10-14/class material/Unit2/data/rock.csv")

In [101]:
# Load the data.
df = pd.read_csv(rockfile)

In [102]:
# Look at the information regarding its columns.
df[:10]

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
6,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
7,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
8,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [41]:
# Change the column names when loading the '.csv':
col_names = ['True Song', 'True Artist', 'Year Released', 'Song_Artist', 'First Album', 'Year','PlayCount', 'F*G']

df = pd.read_csv("/Users/bianca/Documents/GitHub/DAT-10-14/class material/Unit2/data/rock.csv", skiprows =1,names=col_names)

df.head()

,True Song,True Artist,Year Released,Song_Artist,First Album,Year,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [38]:
# Change the column names using the `.rename()` function.

In [114]:
col_name_dict ={
    
    'Song Clean':'True Song', 
    'ARTIST CLEAN':'True Artist', 
    'Release Year':'Year Released',
    'COMBINED':'Song_Artist',
    'First?':'First Album',
    'Year?':'Year',
    'PlayCount':'PlayCount',
    'F*G':'F*G'
}

df.rename(columns=col_name_dict, inplace = True)

df.head()


#or df = df.rename({'Old Column Name: New Column Name'}, axis=1)

,True Song,True Artist,Year Released,Song_Artist,First Album,Year,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [ ]:
new_lower_cols = [col.lower() for col in df.columns.tolist()]

df.colums = new_lower_cols

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [106]:
# Show records where df['release'] is null

df[df['Year Released'].isnull()]

,True Song,True Artist,Year Released,Song_Artist,First Album,Year,PlayCount,F*G
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
31,Sin City,AC/DC,NaN,Sin City by AC/DC,1,0,1,0
35,What Do You Do For Money Honey,AC/DC,NaN,What Do You Do For Money Honey by AC/DC,1,0,2,0
42,"Baby, Please Don't Go",Aerosmith,NaN,"Baby, Please Don't Go by Aerosmith",1,0,1,0
45,Come Together,Aerosmith,NaN,Come Together by Aerosmith,1,0,65,0
53,Kings and Queens,Aerosmith,NaN,Kings and Queens by Aerosmith,1,0,1,0
60,One Way Street,Aerosmith,NaN,One Way Street by Aerosmith,1,0,1,0
66,The Other Side,Aerosmith,NaN,The Other Side by Aerosmith,1,0,11,0
71,You See Me Crying,Aerosmith,NaN,You See Me Crying by Aerosmith,1,0,1,0
75,Fantasy,Aldo Nova,NaN,Fantasy by Aldo Nova,1,0,4,0
76,BE MY LOVER,Alice Cooper,NaN,BE MY LOVER by Alice Cooper,1,0,1,0
80,House Of Fire,Alice Cooper,NaN,House Of Fire by Alice Cooper,1,0,1,0
100,One Way Out,Allman Brothers Band,NaN,One Way Out by Allman Brothers Band,1,0,3,0
102,Southbound,Allman Brothers Band,NaN,Southbound by Allman Brothers Band,1,0,2,0
104,Whippin' Post,Allman Brothers Band,NaN,Whippin' Post by Allman Brothers Band,1,0,6,0
110,Immigrant Song,Ann Wilson,NaN,Immigrant Song by Ann Wilson,1,0,2,0
111,Roller,April Wine,NaN,Roller by April Wine,1,0,1,0
113,Coming into Los Angeles,Arlo Guthrie,NaN,Coming into Los Angeles by Arlo Guthrie,1,0,1,0
114,Wayside,Artful Dodger,NaN,Wayside by Artful Dodger,1,0,1,0
118,Spooky,Atlanta Rhythm Section,NaN,Spooky by Atlanta Rhythm Section,1,0,1,0
120,Blondes In Black Cars,Autograph,NaN,Blondes In Black Cars by Autograph,1,0,1,0
122,Rock And Roll Party In The Streets,Axe,NaN,Rock And Roll Party In The Streets by Axe,1,0,1,0
124,Roll On Down The Highway,Bachman-Turner Overdrive,NaN,Roll On Down The Highway by Bachman-Turner Ove...,1,0,5,0
...,...,...,...,...,...,...,...,...
2149,Take Your Whiskey Home,Van Halen,NaN,Take Your Whiskey Home by Van Halen,1,0,8,0
2150,Top Jimmy,Van Halen,NaN,Top Jimmy by Van Halen,1,0,23,0
2151,Top of the World,Van Halen,NaN,Top of the World by Van Halen,1,0,5,0
2157,And It Stoned Me,Van Morrison,NaN,And It Stoned Me by Van Morrison,1,0,1,0
2158,BLUE MONEY,Van Morrison,NaN,BLUE MONEY by Van Morrison,1,0,1,0
2162,Gloria,Van Morrison,NaN,Gloria by Van Morrison,1,0,1,0
2164,Jackie Wilson Said,Van Morrison,NaN,Jackie Wilson Said by Van Morrison,1,0,1,0
2168,Edge of a Broken Heart,Vixen,NaN,Edge of a Broken Heart by Vixen,1,0,2,0
2174,Uncle Tom's Cabin,Warrant,NaN,Uncle Tom's Cabin by Warrant,1,0,1,0
2178,Street Corner Serenade,Wet Willie,NaN,Street Corner Serenade by Wet Willie,1,0,2,0
2179,Wait,White Lion,NaN,Wait by White Lion,1,0,1,0
2184,Slow An' Easy,Whitesnake,NaN,Slow An' Easy by Whitesnake,1,0,6,0
2185,Still of the Night,Whitesnake,NaN,Still of the Night by Whitesnake,1,0,14,0
2186,Who Are You?,Why Not,NaN,Who Are You? by Why Not,1,0,5,0
2188,Night Moves,Wildlife,NaN,Night Moves by Wildlife,1,0,23,0
2189,We've Got Tonight,Wildlife,NaN,We've Got Tonight by Wildlife,1,0,4,0
2190,Can't Get Enough,Winger,NaN,Can't Get Enough by Winger,1,0,1,0
2191,Headed For A Heartbreak,Winger,NaN,Headed For A Heartbreak by Winger,1,0,1,0
2192,Seventeen,Winger,NaN,Seventeen by Winger,1,0,2,0
2194,Summertime Girls,Y&T,NaN,Summertime Girls by Y&T,1,0,4,0
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [116]:
# Another way to replace release nulls with 0
df.loc[df['Year Released'].isnull(),'Year Released']=0

In [117]:
# Replace release nulls with 0
df['Year Released'].fillna(0,inplace = True)

#### 4.B Verify that `release` contains no null values.

In [118]:
# A: 

df['Year Released'].isnull().sum()

0

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [119]:
# A: 

df.dtypes

True Song        object
True Artist      object
Year Released    object
Song_Artist      object
First Album       int64
Year              int64
PlayCount         int64
F*G               int64
dtype: object

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [120]:
df['Year Released'].unique()

array(['1982', 0, '1981', '1980', '1975', '2000', '2002', '1992', '1985',
       '1993', '1976', '1995', '1979', '1984', '1977', '1990', '1986',
       '1974', '2014', '1987', '1973', '2001', '1989', '1997', '1971',
       '1972', '1994', '1970', '1966', '1965', '1983', '1955', '1978',
       '1969', '1999', '1968', '1988', '1962', '2007', '1967', '1958',
       '1071', '1996', '1991', '2005', '2011', '2004', '2012', '2003',
       '1998', '2008', '1964', '2013', '2006', 'SONGFACTS.COM', '1963',
       '1961'], dtype=object)

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [125]:
df['Year Released'] = df['Year Released'].astype(str)
df["Year Released"].str.isdigit()

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
        ...
2200    True
2201    True
2202    True
2203    True
2204    True
2205    True
2206    True
2207    True
2208    True
2209    True
2210    True
2211    True
2212    True
2213    True
2214    True
2215    True
2216    True
2217    True
2218    True
2219    True
2220    True
2221    True
2222    True
2223    True
2224    True
2225    True
2226    True
2227    True
2228    True
2229    True
Name: Year Released, Length: 2230, dtype: bool

In [126]:
# A:

df[~df['Year Released'].str.isdigit()]

,True Song,True Artist,Year Released,Song_Artist,First Album,Year,PlayCount,F*G
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [14]:
# A:

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [127]:
# A: 

df.describe()

       First Album         Year    PlayCount          F*G
count       2230.0  2230.000000  2230.000000  2230.000000
mean           1.0     0.741256    16.872646    15.048430
std            0.0     0.438043    25.302972    25.288366
min            1.0     0.000000     0.000000     0.000000
25%            1.0     0.000000     1.000000     0.000000
50%            1.0     1.000000     4.000000     3.000000
75%            1.0     1.000000    21.000000    18.000000
max            1.0     1.000000   142.000000   142.000000

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [16]:
# A:

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [17]:
# A: 

def get_vals(rows):
    print(row['song clean'], row['artist'], row['release year'], '<1970?:', row['release year'<1970]

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [18]:
# A:

rock['release year'] = df['release year'].astype